body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d35;
}
.navbar-container {
  width: 100%;
}
.sideBar-container {
  width: 270px;
  min-height: calc(100vh - 50px);
}
.sidebar-container {
  max-width: 270px !important;
  min-width: 270px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: calc(100vh - 50px);
  background: #3a3fa0;
}

.dashboard,
.tickets-container,
.viewsingleticket-container,
.createticket-container,
.projects-container,
.detailsproject-container,
.register-container,
.dashboard-container,
.login-row,
.createproject-container,
.userlist-container {
}

.login-row {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-row {
  height: 70vh;
}
.login-container {
  background: #fff;
  padding: 40px;
}
.login-as-container-login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-as-container-login-buttons button {
  margin: 8px;
  width: 150px;
}

.sorry-no-projects {
  margin-top: 150px;
}
.dashboard-container h2 {
  color: #fff;
}
.navbar-main {
  display: flex;
  min-width: 100% !important;
  padding-left: 54px;
  padding-right: 44px;
}
.navbar-container nav {
  background-color: #3a3fa0 !important;
}
.sidebar {
  background-color: #3a3fa0 !important;
}
.viewsingleticketcontainer-optionsContainer {
  margin-right: 50px;
}
.viewsingleticket-display-ticket .card {
  margin-top: 2px;
}
.viewsignelticketcontainer-options label {
  color: #fff;
  margin: 12px 0;
}
.col span {
  font-size: 16px;
}
.card {
  padding: 14px;
}
.formgroup-buttons-cancel-save {
  display: flex;
  justify-content: space-between;
}
.formgroup-buttons-cancel-save button {
  padding: 14px 24px;
}

.card label {
  margin: 8px 0;
}
.card-header {
  font-size: 22px;
  font-weight: bold;
}

.jumbotron-container {
}
