body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container-flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}
.navbar-container {
  width: 100%;
}
.dashboard {
  display: flex;
  flex-direction: row;
}
.sideBar-container {
  width: 160px;
  min-height: calc(100vh - 50px);
}
.sidebar-position {
  top: 400px;
}
.sideBar-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
